.fighters__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.fighter__card {
	max-width: 180px;
	padding: 20px;
	border: 1px solid #333;
	margin: 10px 5px;
	min-height: 120px;
}
.fighter__img {
	width: 100%;
}

.inventory {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 500px;
	overflow-y: auto;
	min-height: 200px;
	background-color: #eee;
}
.inventory__item {
	width: 200px;
	height: 200px;
	border: 1px solid #333;
	margin-bottom: 40px;
	background-color: #fff;
	position: relative;
}

.inventory__item-img {
	width: 100%;
}

.inventory__creatures::after,
.inventory__defense::after,
.inventory__weapons::after {
	content: 'w';
	position: absolute;
	right: 5px;
	top: 5px;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #d44;
	font-size: 10px;
	line-height: 1;
	color: #fff;
	font-weight: 700;
	border-radius: 50%;
	text-transform: uppercase;
}

.inventory__creatures::after{
	content: 'c';
	background-color: #4f4;
}
.inventory__defense::after{
	content: 'd';
	background-color: #33a;
}

.camp {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 100px;
}

.inventory__wrapper {
	order: 3;
	width: 32%;
}
.creatures__wrapper {
	order: 1;
	width: 32%;
}

.creatures {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 500px;
	overflow-y: auto;
}

.creation__wrapper {
	width: 32%;
	order: 2;
}

.creation {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.creation .slot {
	width: 240px;
	height: 240px;
	background-color: #eee;
	margin: 10px;
	overflow: hidden;
}

.creation .slot .inventory__item {
	width: 100%;
	height: 100%;
}

.slot1__wrapper {
	width: 100%;
}
.slot.slot1 {
	margin: 10px auto;
}
.creation .slot2,
.creation .slot3 {
	width: 180px;
	height: 180px;
}

.creation__btn {
	display: block;
	margin: 0 auto;
}