.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__menu {
	width: 100%;
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.profile {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background-color: #ddd;
	border-radius: 50%;
	min-width: 80px;
	width: 80px;
	height: 80px;
}
.profile__widget {
	text-align: center;
}
.profile__widget-username,
.profile__widget-account {
	margin: 0;
}